* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(250, 247, 243) ;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    align-items: center;
    padding: 1rem 0;
}

header .logo {
    width: 100px;
    height: 100px;
    margin-left: 4rem;
}

header nav .perfil {
    width: 30px;
    height: 30px;
}


nav .lista {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
}

.title {
    text-align: center;
}

.container {
    text-align: center;
    margin: 1rem 0;
}

.container .opcoes-cafe {
    display: flex;
    justify-content: space-evenly;
}

.container .opcoes-cafe .cafe {
    border: 2px solid;
    padding: 0.5rem;
}

.container .opcoes-cafe .cafe:hover {
    border-color: chocolate;
}

.container .opcoes-cafe .cafe img {
    width: 150px;
    height: 150px;
}

.container .option {
    display: flex;
    justify-content: space-evenly;
}

.container .informacao {
    display: flex;
    flex-direction: column;
    gap:0.5rem
}

.container .informacoes-pessoais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .opcoes-cafe .cafe input {
    display: block;
}

.container .final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

table th {
    width: 30%;
}

button {
    width: 25%;
    height: 2rem;
    background-color: chocolate;
    font-weight: bold;

}

footer {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

footer img {
    width: 100px;
    height: 100px;
}
